<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.chrislehmann.squeezedroid"
      android:versionCode="9"
      android:versionName="0.10">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".activity.SqueezeDroidApplication" >
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.chrislehmann.squeezedroid.action.Status" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PlayListActivity"
                  android:label="Current Playlist">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.PlayList" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        <activity android:name=".activity.BrowseRootActivity"
                  android:label="Browse">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.Browse" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        <activity android:name=".activity.BrowseArtistsActivity" android:label="Browse Artists">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.BrowseArtist" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:scheme="squeeze" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BrowseSongsActivity" android:label="Browse Songs">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.BrowseSong" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:scheme="squeeze" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BrowseAlbumsActivity" android:label="Browse Album">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.BrowseAlbum" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:scheme="squeeze" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BrowseFoldersActivity" android:label="Browse Music Folder">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.BrowseFolder" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:scheme="squeeze" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListApplicationsActivity" android:label="List Applications">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.ListApplications" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BrowseApplicationActivity" android:label="Browse Applications">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.BrowseApplication" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BrowseGenresActivity" android:label="Browse Genres">
            <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.BrowseGenre" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:scheme="squeeze" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditPrefrencesActivity" android:label="Edit Preferences" >
           <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.EditPreferences" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
         </activity>
        <activity android:name=".activity.ConnectToServerActivity" android:label="Connecting To Server" >
           <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.ConnectToServer" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
         </activity>
        <activity android:name=".activity.ChoosePlayerActivity" android:label="Choose A Player" >
           <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.ChoosePlayer" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
         </activity>
         <activity android:name=".activity.SearchActivity" android:label="Search" >
           <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.Search" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
         </activity>
         <activity android:name=".activity.ListPlaylistsActivity" android:label="Playlists" >
           <intent-filter>
               <action android:name="net.chrislehmann.squeezedroid.action.ListPlaylists" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
         </activity>
         
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 